@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
  }
.gallery-container {
    background: transparent !important;
}
main {
    background: transparent !important;
}

.gallery-title {
    font-size: 20px; 
    font-weight: bold; 
    margin: 0; 
    text-align: center; 
    color: #fff; 
    font-family: 'Playfair Display', serif; 
    letter-spacing: 3px;
    text-transform: uppercase;
  }

.gallery-header {
    background-color: #24201f; 
    color: #fff; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 32px; 
    width: 100%; 
    box-sizing: border-box; 
    position: relative; 
  }

  .home-icon {
    font-size: 22px; 
    color: #fff; 
    text-decoration: none; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
  }
  

.home-icon:hover {
  color: #ccc;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  font-family: 'Inter', sans-serif; 
  font-size: 16px;
}

@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
